* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #0f1111;
    color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
}

.nav-logo img {
    width: 100px;
    padding: .5rem;
}

.nav-logo:hover {
    outline: 1px solid white;
}

.location {
    height: 100%;
    font-size: .7rem;
    padding: .5rem 1rem;
}

.location:hover {
    outline: 1px solid white;
}

.location-icon {
    display: flex;
    align-items: center;
}

.nav-center {
    height: 40px;
    display: flex;
    flex-grow: 1;
    border-radius: 5px;
    margin-left: 1rem;
}

.nav-center:hover {
    outline: 2px solid rgb(232, 176, 73);
}

.search-dropdown {
    width: 5rem;
    font-size: 1rem;
    background-color: rgb(210, 208, 208);
    padding: .5rem;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-dropdown:focus {
    outline: none;
}

.search-box {
    font-size: 1rem;
    flex-grow: 1;
    padding: .5rem;
}

.search-box:focus {
    outline: none;
}

.search-icon i {
    height: 100%;
    background-color: rgba(255, 203, 105, 0.849);
    border-radius: 0 5px 5px 0;
    padding: .7rem .5rem;
    margin-top: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    margin: 0 1rem;
}

.language-option {
    display: flex;
    padding: .5rem .5rem;
}

.language-option:hover {
    outline: 1px solid white;
}

.flag {
    width: 20px;
}

.select-language {
    font-size: .7rem;
    font-weight: bold;
    color: white;
    background: transparent;
    border: none;
}

.select-language option {
    color: black;
}

.account-option {
    padding: .5rem .5rem;
}

.account-option:hover {
    outline: 1px solid white;
}

.account-option .top-text {
    font-size: .5rem;
    margin-left: 5px;
}

.select-account {
    font-size: .7rem;
    font-weight: bold;
    background: transparent;
    color: white;
    border: none;
}

.order-option {
    padding: .5rem .5rem;
}

.order-option:hover {
    outline: 1px solid white;
}

.order-option .top-text {
    font-size: .5rem;
}

.order-option .bottom-text {
    font-size: .7rem;
    font-weight: bold;
}

.cart-option {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    padding: .5rem .5rem;
}

.cart-option:hover {
    outline: 1px solid white;
}

.cart-logo i {
    width: 20px;
}

.nav-options {
    height: 42px;
    display: flex;
    align-items: center;
    background-color: #222f3d;
    color: white;
    justify-content: start;
}

.nav-options * {
    cursor: pointer;
}

.all-logo {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: .5rem;
    margin-left: 2rem;
}

.all-logo:hover {
    outline: 1px solid white;
}

.nav-options .options {
    display: flex;
}

.nav-options .options p {
    padding: 0.5rem;
}

.nav-options .options p:hover {
    outline: 1px solid white;
}

main {
    width: min(1500px, 100%);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.carousel {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.carousel .slides-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.carousel .slides-container::-webkit-scrollbar {
    display: none;
}

.slides-container .slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
    overflow: hidden;
}

.slide .content {
    width: 100%;
    height: 100%;
}

.slide .content img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    scale: 2;
    margin: 1rem;
}

.slide .prev {
    left: 1rem;
}

.slide .next {
    right: 1rem;
}

.carousel .text {
    width: 95%;
    position: absolute;
    text-align: center;
    font-size: .7rem;
    background-color: #f5f6f6;
    padding: 1rem;
    margin-bottom: 2rem;
}

.carousel .text a {
    text-decoration: none;
    font-weight: bold;
    color: #007185;
}


.items-container {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto) auto;
    gap:1.5rem;
    background-color: #c9cbcf82;
    padding: 0 1rem 1rem 1rem;
    width: auto;
}

.item-card {
    height: 400px;
    /* width: 100px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto 8%;
    /* display: flex;
    flex-direction: column;
    flex: 1 1 300px; */
    gap: 1rem;
    font-size: .7rem;
    background-color: white;
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-start: 2;
    /* flex-direction: row;
    flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}

.item-card img {
    /* justify-content: center; */
    height: 5rem;
    width: 6rem;
    object-fit: cover;
    margin: 0.2rem;
}
.sec1, .sec2, .sec3, .sec4 {
    display: grid;
    grid-template-columns: 7rem;
}

.item-card a {
    text-decoration: none;
    font-weight: bold;
    color: #007185;
    grid-row-start: 3;
    grid-column-start: 1; grid-column-end: span 2;
    /* margin-top: 20px; */
    align-self: self-end;
    justify-self: left;
}

.item-card h2 {
    justify-self: left;
}

.item-card-horizontal-1 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto;
    height: 18rem;
    background-color: white;
    padding: 1rem;
    margin: 0;
    align-items: end;
}

.images-horizontal {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.images-horizontal img {
    height: 11rem;
    width: auto;
}

.item-card-horizontal a {
    text-decoration: none;
    font-weight: bold;
    color: #007185;
}

.item-card-horizontal-2 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto;
    height: 18rem;
    background-color: white;
    padding: 1rem;
    align-items: end;
}

.item-card-horizontal-3 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto;
    height: 18rem;
    background-color: white;
    padding: 1rem;
    align-items: end;
}

.item-card-horizontal-4 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: span 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% auto;
    height: 18rem;
    background-color: white;
    padding: 1rem;
    align-items: end;
}

.live {
    border: 1px solid gray;
    border-radius: 5%;
    width: auto;
    /* gap: 2.5rem; */
    display: flex;
    flex-direction: column;
}

.live img {
    width: auto;
    height: 11rem;
    /* align-self: center;
    justify-self: center; */
}

/* 
.item-card-secial {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% auto;
}

.images-special {
    grid-row-start: 2;
}

.sec5, .sec6, .sec7, .sec8 {
    height: 0.5rem;
} */
/* 
.img1 {
    grid-row-start: 1;
    grid-column-start: 1;
}

.img2 {
    grid-row-start: 1;
    grid-column-start: 2;
}

.img3 {
    grid-row-start: 2;
    grid-column-start: 1;
}

.img4 {
    grid-row-start: 2;
    grid-column-start: 2;
} */

.signing {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    gap:1rem;
}

.signing .button {
    background-color: #ffce12;
    width: 10rem;
    height: auto;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}


.back-option {
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
    font-weight: bold;
    color: white;
    background-color: #37475A;
}

.footer-links {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background-color: #232F3E;
    color: white;
}

.footer-links ul {
    margin-top: 3rem;
}

.footer-links ul p {
    font-weight: bold;
}

.footer-links ul a {
    display: block;
    font-size: .7rem;
    color: #dddddd;
    margin-top: 1rem;
    cursor: pointer;
}

.footer-links ul a:hover {
    text-decoration: underline;
}

.country-info {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232F3E;
    color: white;
    border-top: 0.5px solid #84868878;
}

.country-info .logo img {
    width: 50px;
}

.country-info .options {
    display: flex;
    gap: .5rem;
    margin-left: 3rem;
}

.country-info .options select {
    font-size: .5rem;
    text-decoration: none;
    color: #cccccc;
    background: transparent;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: .5rem;
}

.policies {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: .5rem;
    color: white;
    background-color: #131A22;
}

.pages a {
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}



@media (max-width: 900px) {

    .main-nav-menu{
        height: 10%;
        width: 100%
    }

    :root {
        font-size: 2vw;
    }

    nav {
        height: 30%;
    }

    .nav-logo img {
        width: 7vw;
    }

    .nav-center {
        height: 4vw;
    }

    .search-dropdown {
        width: 7vw;
    }

    .search-box {
        width: 1vw;
    }

    .search-icon p {
        padding: .5rem .5rem;
    }

    .search-icon {
        width: 2rem;
    }

    .flag {
        width: 2vw;
    }

    .cart-logo {
        width: 3vw;
    }

    .nav-options {
        height: 5vw;
    }

    .hide {
        font-size: 0px;
        width: 0;
        height: 0;
    }

    .carousel {
        height: 30vw;
    }

    .arrow i {
        height: 4vw;
    }

    .items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, auto) ;
        /* align-items: center;
        justify-content: space-evenly;
        justify-items: center; */
    }

    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8 {
        justify-self: center;
    }
    .item2 {
        grid-column-start: 2;
    }
    .item3 {
        grid-row-start: 2;
        grid-column-start: 1;
    }
    .item4 {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .item5 {
        grid-row-start: 3;
        grid-column-start: 1;
    }
    .item6 {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    .item7 {
        
        grid-row-start: 4;
        grid-column-start: 1;
    }
    .item8 {
        grid-row-start: 4;
        grid-column-start: 2;}
    
    .item-card-horizontal-1 {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .item-card-horizontal-2 {
        grid-row-start: 6;
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .item-card-horizontal-3 {
        grid-row-start: 7;
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .item-card-horizontal-4 {
        grid-row-start: 8;
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    iframe {
        /* width: 40%; */
        height: 10rem;
        width: auto;
    }

    .images-horizontal {
        width: 5rem;
        height: auto;
    }

    .item-card {
        height: 42vw;
        flex: 1 1 25vw;
        font-size: .5rem;
        width: 37vw;
        align-items: center;
    }

    .item-card img {
        height: 10vw;
    }

    .hide-img {
        width: 0px;
        height: 0px;
    }

    .back-option {
        height: 5vw;
    }

    .footer-links {
        height: 40vw;
    }

    .country-info .logo img {
        width: 7vw;
    }

    .policies {
        height: 8vw;
    }
}