body 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 1rem;
}

.logo
{
    color: aliceblue;
    font-size: 1.5rem;
}

.menu
{
    display: none;
    flex-direction: column;
    background: brown;
    position: absolute;
    top: 60px;
    right: 20px;
}

/* decendent */
.menu a     
{
    padding: 1em;
    display: block;
}

.hamburger
{
    font-size: 2rem;
    cursor: pointer;
}

@media(min-width: 768px)
{
    .menu
    {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }

    .hamburger
    {
        display: none;
    }
}
